// Colours
@white: #eeeeee; 
@lightgray: #cccccc;
@mediumgray: #aaaaaa;
@obsidian: #212121;
@darkBlue: #0d47a1;
@lightBlue: #2196f3; 


// Width variables 
// Better names should be used...

@width250: 250px; // Appears 3 times
@width100perc: 100%; // Appears 5 times
@width50: 50px; // Appears 2 times
@width0: 0; // Appears 2 times

// Height variables
@heigth100perc: 100%; // Appears 2 times

body {
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	background-color:#272b30;
	color: @mediumgray;
	height: @heigth100perc;
	overflow-x: hidden;
	text-decoration: none;
	user-select: none;
	width: @width100perc;
}
label {
	color: @white;
	font-family: Helvetica, Arial, Sans-Serif;
	font-weight:bold;
	margin-bottom: 0px;
	margin-top: 10px;
}
.touchpad {
	background: @obsidian;
	height: 80%;
	width: @width100perc;
}
.menuFooter {
	bottom:0;
	overflow: hidden;
	padding-bottom: 5px;
	padding-left: 5px;
	position: absolute;
	right: 0px;
	vertical-align: bottom;
	width: @width100perc;
}
.menuFooterEntry {
	background-color: @obsidian;
	border-radius: 7px;
	border-width: 0;
	color:@mediumgray;
	padding: 5px;
	i {
		border-radius: 7px;
		padding:5px;
	}
	&:hover {
		background-color: @lightBlue;		
		color:@white;
	}
}
#header {
	color: @white;
	font-size: 25px;
	margin-left: 10px;
}
.btn-container {
}
.btn-header {
	border-width: 0px;
	color:@white;
	padding: 5px;
	text-decoration: none;
	&:hover {
		background-color: @lightBlue;
		border-radius: 4px;
		border-width: 0px;
		text-decoration: none;
	}
}
.headerRow {
	background-color: @obsidian;
	height: 65px;
	padding-bottom: 15px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	position: fixed;
	top: 0;
	width: 150%;
	z-index: 999;
}
.mainDiv {
	margin-top: 70px;
}
.largeMargin {
	margin-bottom: 25px;
}
.log {
	color: @white;
}
.groupLabel {
	color: @white;
	font-size: 20px;
	font-weight: bold;
	
	margin-top: 4px;
}
.menuEntry {
	&:hover {
		background-color: @lightBlue;
	}
}
.leftMenuEntryStyle {
	float:left;
	font-family: 'FontAwesome';
	margin: auto;
	width: @width50;
}
.rightMenuEntryStyle {
	float:right;
	font-family: Helvetica, Arial, Sans-Serif;
}
.inputContainer {
	background-color: transparent;
	margin: 5px;
}
.largeInput {
	background-color:transparent;
	border: 0;
	color:@white;
	font-family: 'FontAwesome';
	font-size: 30px;
	height:45;
	text-align: center;
	width:@width100perc;
}
.largeInputLabel {
	display: block;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 13px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}
#log {
	align-content: right;
	border-radius: 3px;
	display: table;
	font-family: 'FontAwesome';
	margin-top: 5px;
	padding: 10px;
}
.logEntry {
	-moz-box-shadow: 3px 2px 8px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 3px 2px 8px 0px rgba(0,0,0,0.75);
	background-color: @darkBlue;
	border-radius: 10px;
	box-shadow: 3px 2px 8px 0px rgba(0,0,0,0.75);
	font-size: 12px;
	margin-bottom: 15px;
	padding: 25px;
}
.jobEntry {
	-moz-box-shadow: 3px 2px 8px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 3px 2px 8px 0px rgba(0,0,0,0.75);
	background-color: @darkBlue;
	border-radius: 10px;
	box-shadow: 3px 2px 8px 0px rgba(0,0,0,0.75);
	display: block;
	float:left;
	font-size: 12px;
	height:250px;
	margin-bottom: 15px;
	margin-right:25px;
	min-width: 300px;
	overflow: auto;
	padding-top: 5px;
	padding: 25px;
	width: 45%;
}
.jobTable {
	color: @white;
}
.logHeader {
	border-radius: 5px;
	color: @white;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 21px;
	font-weight: bold;
	margin-bottom: 15px;
	margin-top: 5px;
	padding: 10px;
}
.logDesc {
	background-color: @obsidian;
	border-radius: 10px;
	font-family: Helvetica, Arial, Sans-Serif;
	margin-bottom: 15px;
	padding-top: 2px;
	padding: 15px;
	h1 {
		font-size: 16px;
		font-weight: bold;
		margin-bottom: -5px;
	}
	p {
		margin-top: 0px;
	}
}
#pageRoot {
	font-family: 'FontAwesome';
}
#control {
	align-content: center;
	display: block;
}
#keyDiv {
	background-color: transparent;
	border-radius: 5px;
	display: inline-block;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	&:hover {
		background-color: @lightBlue;
	}
}
.renderjson {
	background-color: @obsidian;
	border-radius: 10px;
	border-width:0px;
	padding:20px;
	a {
		text-decoration: none;
	}
	.disclosure {
		color: crimson;
		font-size: 150%;
	}
	.syntax {
		color: grey;
	}
	.string {
		color: lightgreen;
	}
	.number {
		color: cyan;
	}
	.boolean {
		color: violet;
	}
	.key {
		color: lightblue;
	}
	.keyword {
		color: blue;
	}
	.object.syntax {
		color: lightseagreen;
	}
	.array.syntax {
		color: orange;
	}
}
.switch {
	display: inline-block;
	height: 20px;
	position: relative;
	width: @width50;
	margin-bottom: 4px;
	input {
		display:none;
	}
}
input[type="color"] {
	border-radius: 16px;
	padding-bottom:5px;
	padding-top:10px;
}
.slider {
	-webkit-transition: .4s;
	background: @white;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .4s;
	&:after {
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		-webkit-transition: .4s;
		background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
		background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.13)), color-stop(100%, rgba(255, 255, 255, 0)));
		background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
		background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
		background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
		border-radius: 50%;
		bottom: 5px;
		content: "";
		display: block;
		height: 10px;
		left: 2px;
		position: absolute;
		right: 0;
		top: 5px;
		transition: .4s;
		width: 10px;
	}
	&:before {
		-webkit-transition: .4s;
		background-color:@white;
		border: 1px solid @lightgray;
		bottom: -2px;
		content: "";
		height: 25px;
		left: -4px;
		position: absolute;
		transition: .4s;
		width: 25px;
	}
}
input {
	&:checked+.slider {
		background-color: @darkBlue;
		&:before {
			-ms-transform: translateX(36px);
			-webkit-transform: translateX(36px);
			transform: translateX(36px);
		}
		&:after {
			-ms-transform: translateX(36px);
			-webkit-transform: translateX(36px);
			transform: translateX(36px);
		}
	}
	&:focus+.slider {
		box-shadow: 0 0 1px @darkBlue;
	}
}
.slider.round {
	border-radius: 16px;
	&:before {
		border-radius: 50%;
	}
	&:after {
		border-radius: 50%;
	}
}
#wrapper {
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	padding-left: 0;
	transition: all 0.5s ease;
}
#wrapper.toggled {
	padding-left: 0;
	padding-left: 250px;
	#sidebar-wrapper {
		width: @width250;
	}
	#page-content-wrapper {
		margin-right: -250px;
		margin-right: 0;
		position: absolute;
		position: relative;
	}
}
#sidebar-wrapper {
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	background: @obsidian;
	height: @heigth100perc;
	left: 250px;
	margin-left: -250px;
	overflow-y: auto;
	position: fixed;
	transition: all 0.5s ease;
	width: @width250;
	width: @width0;
	z-index: 1000;
}
#page-content-wrapper {
	padding-top: 10px;
	padding: 5px;
	position: absolute;
	position: relative;
	width: @width100perc;
}
.sidebar-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: @width250;
	li {
		font-size: 16px;
		line-height: 50px;
		text-indent: 20px;
		a {
			color: @white;
			display: block;
			text-decoration: none;
			&:hover {
				color:@white;
				text-decoration: none;
			}
			&:active {
				color:@white;
				text-decoration: none;
			}
			&:focus {
				color:@white;
				text-decoration: none;
			}
		}
		&:hover {
			background:@mediumgray;
			text-decoration: none;
		}
	}
}
.sidebar-nav>.sidebar-brand {
	background-color:@obsidian;
	border-radius: 2px;
	border: 0px solid;
	font-size: 18px;
	height: 82px;
	line-height: 60px;
	margin-bottom: 10px;
	padding-top: 10px;
	&:hover {
		background-color:transparent;
	}
	img {
		margin-right: 20px;
	}
	a {
		color: @white;
		font-size: 21px;
		&:hover {
			background: none;
			color: @white;
		}
	}
}

@media(min-width: 768px) {
	#wrapper {
		padding-left: 250px;
	}

	#wrapper.toggled {
		padding-left: 0;
		#sidebar-wrapper {
			width: 0;
		}
		#page-content-wrapper {
			margin-right: 0;
			position: relative;
		}
	}
	#sidebar-wrapper {
		width: 250px;
	}
	#page-content-wrapper {
		padding: 5px;
		position: relative;	
	}
}